[submodule "app/src/cpp/stunnel-android"]
	path = app/src/cpp/stunnel-android
	url = git@github.com:woman-lifefreedom/stunnel-android.git
[submodule "app/src/cpp/asio"]
	path = app/src/cpp/asio
	url = git@github.com:woman-lifefreedom/asio.git
[submodule "app/src/cpp/lz4"]
	path = app/src/cpp/lz4
	url = git@github.com:woman-lifefreedom/lz4.git
[submodule "app/src/cpp/openssl"]
	path = app/src/cpp/openssl
	url = git@github.com:woman-lifefreedom/platform_external_openssl.git
